*{

    font-family: 'Asap', sans-serif;
    color: black;
    margin: 0;
    border: 1px solid black !important;
}

.grid-container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}


.grid-container body{
    grid-column: 2/3;
}

.grid-container #aside1{
    background-color:#ffefe5;
    width: 20em;
    height: 100vh;
    grid-row: 1/4;
}

.grid-container header{
    background-color: #e8e8e8;
    height: 6em;
    grid-row: 1 / span 1 ;
}

.grid-container #aside2{
    width: 20em;
    grid-row: 1 / span 4;
}
.grid-container footer{
    height: 6em;
}

#aside1 img{
    width: 80px;
}

 li{
    display: flex;
    list-style: none;
}

#aside1 .carros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#aside1 .princip h1{
    justify-content: center;
}





